{% extends "cardapp/base.html" %}
{% block container %} 
<div class="row">
    <div class="col-sm-4">
        <h4 class= 'text-center alert alert-success'>Add New Student Information</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{fm}} <br>
            <input type="submit" class=' btn btn-success' value="Submit">
        </form>
        <br>

        {% comment %} --------------- Use to messages new update topic ---------- {% endcomment %}
        {% if messages %} 
        {% for message in messages %}
        <span class='alert alert-success'>{{message}}</span>
        {% endfor %}
        {% endif %}
    
    </div>
    <div class="col-sm-7 offset-1">
        <h4 class='text-center alert alert-success'>Show Student All Information</h4>
        {% if show %}
        <table class="table table-hover">
            <thead>
              <tr>
                
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in show %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.password}}</td>
                    <td>
                        <a href="{% url 'update' i.id %}" class='btn btn-info'>Edit</a>
                        <form action="{% url 'remove' i.id %}" method="post" class='d-inline'>
                            {% csrf_token %}
                            <input type="submit" class='btn btn-danger' value="Delete">
                        </form>
                        
                    </td>
                  </tr>
                {% endfor %}
              

            </tbody>
          </table>

          {% else %}
          <h6 class=' text-center alert alert-danger'>No Record</h6>
        {% endif %}

    </div>
</div>
{% endblock container %}